header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.logo {
    height: 19px;
    width: 61px;
}

nav a{
    font-family: Raleway;
    font-size: 16px;
    padding: 56px 30px 30px 30px;

    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #0065FC;
    border-top: 2px solid;
}
