* {
    font-family: Raleway; 
    color: black;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.logo {
    height: 19px;
    width: 61px;
}

nav a{
    font-size: 16px;
    padding: 57px 30px 30px 30px;
    text-decoration: none;
}

nav a:hover{
    color: #0065FC;
    border-top: 2px solid;
}

main {
    padding: 0px 50px 0px 50px;
}

/* CSS for SECTION 1 */

h1{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

/*  CSS FORMULAIRE DE RECHERCHE  */

.searchForm {
    display: flex;
    flex-direction: row;
}

.searchIconLocation {
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 15px 20px 15px 20px;
}

input[type=text] {
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 20px 14px 20px;
}

input::placeholder{
    color: black;
}

.searchFormSubmit {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding: 15px;
}

.searchFormSubmitText{
    color: white;
    font-size: 18px;
    font-weight: 700;
}

