/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

h1{
    margin: 0;
    font-size: 22px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

/* SECTION 1 */

header{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 19px;
    width: 61px;
    padding: 30px;
}

.header-links a{
    font-size: 16px;
    padding: 14px 30px 0px 30px;
}

.header-links{
    padding-top: 16px;
    padding: 16px 30px 0px 30px;
}

.header-links a:hover{
    color: #0065FC;
    border-top: 2px solid;
}

main {
    margin: 0px 50px 0px 50px;
}

.research-txt{
    padding-top: 8px;
    padding-bottom: 35px;
    margin: 0;
}

/*  CSS FORMULAIRE DE RECHERCHE  */

.searchForm {
    display: flex;
    flex-direction: row;
}

.searchIconLocation {
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 15px 20px 15px 20px;
}

.searchIconLocation i{
    color: black;
}

input[type=text] {
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 20px 14px 20px;
}

input::placeholder{
    color: black;
    text-align: center;
    opacity: 1;
}

.searchFormSubmit {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding: 15px;
}

.searchFormSubmitText{
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.searchFormSubmitText i{
    display: none;
    color: white;
}

/* FILTERS */

.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 35px;
    
}

.buttonSection1 {
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 50px;
    padding: 4px 20px;
}
 
.filter-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding-left: 15px;
}

.buttonSection1:hover{
    background-color: #DEEBFF;
}

.insideFilters {
    font-size: 17px;
    font-weight: 700;
}

.insideFilters i {
    padding-right: 10px;
}

/* Info supplémentaire section 1 */

.info2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.info2 i{
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    color: #0065FC;
    padding: 12px 10px 12px 10px;
    margin-right: 11px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

article:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    color: black;
    margin: 0;
}

.card-subtitle{
    color: black;
    margin: 0;
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.image-hebergement {
    object-fit: cover;
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 124px;
}

.hebergements-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-card .card {
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 207px;
    margin-top: 30px;
}

.hebergements-card .card-content{
    padding: 0px 15px 15px 15px;
    box-sizing: border-box;
}

.hebergements-card .card-title{
    padding-bottom: 5px;
}

.hebergements-card .card-subtitle {
    padding-bottom: 5px;
}

.more {
    margin: 0;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid white;
    border-right: 0px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 15px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 10px;
}

/* Activités à Marseille */

.activites {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.activites .section-title{
    padding-left: 30px;
}

.activites-card {
    display: flex;
    flex-direction: row;
}

.activites .card  {
    height: 440px;
    width: 40%;
    margin: 30px 15px 30px 15px;
    padding: 0px;
}

.activites-card img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 380px;
}

.activites-card .card-txt{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 19px;
}


/* FOOTER */

footer{
    max-width: 1440px;
    margin: 35px 50px 0px 50px;
    background-color: #F2F2F2;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.footer-container div {
    width: 35%;
}

.footer-txt {
    padding: 20px 20px 5px 20px;
}

.footer-txt ul li {
    color: black;
    text-decoration: none;
}

.footer-txt ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0px;
}

.footer-txt li{
    padding-bottom: 15px;
}

.footer-title{
    margin-top: 0;
}



/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters{
        flex-direction: column;
        align-items: flex-start;
    }

    .filters h3 {
        margin-top: 0;
    }

    .filter-grid{
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }

    .populaires-cards a {
        width: 31%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites .card {
        height: 270px;
    }

    .activites-card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-links{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .header-links a {
        padding: 0px;
        padding-bottom: 15px;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-links a:hover {
        border-bottom: 2px solid;
        border-top: none;
    }

    main {
        margin: 0;
    }

    .research {
        margin: 0 20px 0 20px;
    }

    .searchFormSubmit{
        border-radius: 15px;
    }

    .searchFormSubmitText{
        display: none;
    }

    .searchFormSubmit i {
        color: white;
    }
    
    .filter-grid {
        flex-wrap: wrap;
        width: 100%;
    }

    .filter-grid .buttonSection1{
        padding: 0;
        width: 47%;
    }

    .buttonSection1 .insideFilters {
        font-size: 14px;
    }

    .hebergements-and-populaires{
        flex-direction: column-reverse;
        padding: 0;
    }

    .hebergements-and-populaires .populaires{
        border-radius: 0;
        padding: 30px 20px 30px 20px;
        margin-top: 0;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card{
        margin-top: 20px;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
        width: 100%;
        padding: 35px 20px 30px 20px;
    }

    .hebergements-card{
        flex-direction: column;
    }

    .hebergements-card .card {
        width: 100%;
    }

    .more{
        margin-top: 15px;
    }

    .activites-card{
        flex-direction: column;
        padding: 30px;
        gap: 15px;
    }

    .activites-card .card{
        width: 100%;
        margin: 0;
        height: 200px;
    }

    .activites-card .card img {
        height: 141px;
    }

    .activites-card .card-txt {
        height: 59px;
    }

    .activites{
        margin-top: 15px;
    }

    .footer-container{
        flex-direction: column;
        gap: 50px;
    }

    .footer-container div {
        width: 100%;
        padding: 0;
    }

    footer {
        margin: 0;
        padding: 30px;
        margin-top: 35px;
    }

}