/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.card a {
    text-decoration: none;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    color: black;
    margin: 0;
}

.card-subtitle{
    color: black;
    margin: 0;
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.image-hebergement {
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 124px;
}

.hebergements-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-card .card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 199px;
    margin-top: 30px;
}

.hebergements-card .card-content{
    padding: 5px 10px 10px 10px;
}

.hebergements-card .card-title{
    padding-bottom: 8px;

}

.hebergements-card .card-subtitle {
    padding-bottom: 8px;
}

.more {
    margin: 0;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités à Marseille */

.activites {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.activites .section-title{
    padding-left: 30px;
}

.activites-card {
    display: flex;
    flex-direction: row;
}

.activites .card  {
    height: 440px;
    width: 40%;
    margin: 30px 15px 30px 15px;
    padding: 0px;
}

.activites-card img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 380px;
}

.activites-card .card-title{
    padding: 20px 19px 20px 19px;
}


/* FOOTER */

footer{
    margin: 0px 50px 0px 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
}

.footer-txt {
    padding: 20px;
}

.footer-txt p{
    margin: 0;
    padding-top: 20px;
}

.footer-title{
    margin: 0;
}



/* mine---------------------------------------------------------------- */

/* SECTION 1 */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.logo {
    height: 19px;
    width: 61px;
}

nav a{
    font-size: 16px;
    padding: 57px 30px 30px 30px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #0065FC;
    border-top: 2px solid;
}

main {
    margin: 0px 50px 0px 50px;
}

/*  CSS FORMULAIRE DE RECHERCHE  */

.searchForm {
    display: flex;
    flex-direction: row;
}

.searchIconLocation {
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 15px 20px 15px 20px;
}

.searchIconLocation i{
    color: black;
}

input[type=text] {
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 20px 14px 20px;
}

input::placeholder{
    color: black;
}

.searchFormSubmit {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding: 15px;
}

.searchFormSubmitText{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
 /* CSS FOR THE FILTERS PART */

 .filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7px;
    padding-top: 15px;
    
 }

 .buttonSection1 {
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin: 20px;
    height: 50px;
    padding: 4px 20px;
 }

 .buttonSection1:hover{
    background-color: #DEEBFF;
 }

 .insideFilters {
    font-size: 17px;
    font-weight: 700;
 }

 .insideFilters i {
    padding-right: 10px;
 }

/* Info supplémentaire section 1 */

.info2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}

.info2 i{
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    color: #0065FC;
    padding: 12px 10px 12px 10px;
    margin-right: 11px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}